<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiorna Evento</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>

<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
        <div th:unless="${user}">
            <a href="/login">Login</a>
        </div>
    </header>

    <main>
        <div class="logo-container">
            <a href="/"><img src="/images/logo-siw.png" alt="Logo" class="logo"></a>
        </div>
        
        <h1>Aggiorna Evento</h1>

        <div th:if="${evento}">
            <section class="evento-info">
                <p><strong>Nome:</strong> <span th:text="${evento.nome}">nome</span></p>
                <p><strong>Descrizione:</strong> <span th:text="${evento.descrizione}">descrizione</span></p>
                <p><strong>Data:</strong> <span th:text="${evento.data}">10-12-2006</span></p>
                <p><strong>Tipologia:</strong> <span th:text="${evento.tipologia}">tipologia</span></p>
                <img th:src="@{'/images/eventi/' + ${evento.image}}" alt="Immagine dell'evento">
            </section>

            <section class="servizi-info">
                <h4>Servizi:</h4>
                <ul>
                    <li th:each="servizio : ${evento.servizi}">
                        <p><strong>Nome:</strong> <span th:text="${servizio.nome}">Nome</span></p>
                        <p><strong>Descrizione:</strong> <span th:text="${servizio.descrizione}">descrizione</span></p>
                        <p><strong>Prezzo:</strong> <span th:text="${servizio.prezzo}">prezzo</span></p>
                        <div class="servizio_image">
						    <img th:src="@{'/images/servizi/' + ${servizio.image}}" >
					    </div> 
                    </li>
                </ul>
                <div th:if="${evento.servizi}">
                    <a th:href="@{'/admin/updateServizi/' + ${evento.id}}">
                        <button type="button">Modifica</button>
                    </a>
                </div>
                <div th:unless="${evento.servizi}">Non ci sono servizi associati a questo evento</div>
            </section>
        </div>
    </main>

</body>

</html>
