<!DOCTYPE html>
<html>

<head>
	<title>
		New Evento
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Aggiungi un evento</h1>
	<form th:action="@{/admin/evento}" method="POST" th:object="${evento}">
  		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		
		<div>
			<label>Nome:</label> 
			<span><input type="text" th:field="${evento.nome}" /></span>
		    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
		    </span>
		</div>
		
		<div>
			<label>Prezzo:</label> <span><input type="number" th:field="${evento.prezzo}" /></span>
		    <span th:if="${#fields.hasErrors('prezzo')}" th:errors="*{prezzo}">
		    </span>
		</div>

		<div>
			<label>Descrizione:</label> <span><input type="text" th:field="${evento.descrizione}" /></span>
		    <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">
		    </span>
		</div>

		<!--come inserire la foto!-->
		<div>
			<label>Tipologia:</label> <span><input type="text" th:field="${evento.tipologia}" /></span>
		    <span th:if="${#fields.hasErrors('tipologia')}" th:errors="*{tipologia}">
		    </span>
		</div>
		
		<div>
			<label>Data:</label> <span><input type="date" th:field="${evento.data}" /></span>
		    <span th:if="${#fields.hasErrors('data')}" th:errors="*{data}">
		    </span>
		</div>
		
		<div>
			<label>Image:</label> <span><input type="file" id="image" name="image" accept="image/png" /></span>
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>