<!DOCTYPE html>
<html>

<head>
	<title>
		New Dipendente
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Aggiungi un dipendente</h1>
	<form th:action="@{/admin/dipendente}" method="POST" th:object="${dipendente}">
  		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		
		<div>
			<label>Nome:</label> 
			<span><input type="text" th:field="${dipendente.nome}" /></span>
		    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
		    </span>
		</div>
		
		<div>
			<label>Cognome:</label> <span><input type="text" th:field="${dipendente.cognome}" /></span>
		    <span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">
		    </span>
		</div>

		<div>
			<label>Email:</label> <span><input type="text" th:field="${dipendente.email}" /></span>
		    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
		    </span>
		</div>
		
		<div>
			<label>Telefono:</label> <span><input type="text" th:field="${dipendente.telefono}" /></span>
		    <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">
		    </span>
		</div>

		
		
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>