<!DOCTYPE html>
<html>

<head>
	<title>
		Marik'Events - Homepage
	</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><img src="/images/logo-siw.png" width="50%" /></div>
	<h1>Consulta l'archivio</h1>
	<div>
		<a href="/evento">Elenco degli eventi</a>
	</div>
	<div>
		<a href="/servizio">Elenco dei servizi</a>
	</div>
	<div>
		<a href="/dipendente">Elenco dei dipendenti</a>
	</div>
	<div>
		<a href="/recensione">Elenco delle recensioni</a>
	</div>
	<h1>Operazioni per amministratore</h1>
	<div>
		<a href="/admin/indexEvento">Operazioni sugli eventi</a>
	</div>
	<div>
		<a href="/admin/indexServizio">Operazioni sui servizi</a>
	</div>
	<div>
		<a href="/admin/indexDipendente">Operazioni sui dipendenti</a>
	</div>
	<div>
		<a href="/admin/indexRecensione">Operazioni sulle recensioni</a>
	</div>
</body>

</html>