<!DOCTYPE html>
<html>

<head>
	<title>Evento</title>
	<link rel="stylesheet" href="/css/stile.css" />
	
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
	<h1>Eventi</h1>
	<div th:if="${eventi==null || eventi.isEmpty()}"> </div>
	<ul>
		<li th:each="evento : ${eventi}">
			<span th:text="${evento.nome} ">Up</span>
			<img th:src="@{'/images/eventi/' + ${evento.image}}" alt="Immagine dell'evento">
			<div class="tipo">
                <span th:text="${evento.tipologia}"> evento </span>
			</div>
			
			<a th:href="@{'/admin/formUpdateEvento' + '/' + ${evento.id}}">Aggiorna</a>
			<form th:action="@{'/admin/evento/' + ${evento.id}}" method="get">
            <button type="submit" onclick="return confirm('Sei sicuro di voler eliminare questo evento?');">Elimina</button>
            </form>		
       </li>
	</ul>
	
</body>

</html>