:root {
    --pink: #e84393;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/images/Matrimonio33.png);
    background-size: cover;
    color: #fff;
}

body .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

body .logo span {
    color: var(--pink);
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 2rem; 
    color: black;
}

form {
    margin-bottom: 2rem;
}

.input-box {
    margin-bottom: 2rem; /* Aggiunge spazio maggiore tra i campi input */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.remember-forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.remember-forgot label {
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    margin-right: 3rem;
}

.remember-forgot a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.4rem;
}

.btn {
    background: var(--pink);
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #ff6baf;
}

.register-link p{
	color: black;
}

.register-link a {
    color: var(--pink);
    text-decoration: none;
    font-size: 1.4rem;
}

.register-link a:hover {
    text-decoration: underline;
}

