:root {
    --pink: #e84393;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/images/Matrimonio33.png);
    background-size: cover;
    color: #fff;
}

body .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

body .logo span {
    color: var(--pink);
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.6); /* Rendiamo leggermente più trasparente */
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 2rem; 
    color: black; /* Cambiamo il colore del titolo */
}

form {
    margin-bottom: 2rem;
}

.input-box {
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none; /* Rimuoviamo il bordo di focus */
}

span[th\:errors] {
    display: block;
    margin-top: 0.5rem;
    color: red;
    font-size: 1.2rem;
}

.btn {
    background: var(--pink);
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #ff6baf;
}

.login-link p {
    color: black;
}

.login-link a {
    color: var(--pink);
    text-decoration: none;
    font-size: 1.4rem;
    transition: color 0.3s ease;
}

.login-link a:hover {
    color: #ff6baf;
}

.social-login {
    text-align: center;
    margin-top: 20px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.google-btn, .facebook-btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: var(--pink);
    transition: background-color 0.3s ease;
}

.google-btn:hover, .facebook-btn:hover {
    filter: brightness(90%);
}

.google-btn i, .facebook-btn i {
    margin-right: 10px;
}
