<!DOCTYPE html>
<html>
  <head>
    <title>Evento</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/" width="50%"/></a></div>
    <h1>Dettagli evento</h1>
    <div th:if="${evento}">
        <span th:text="${evento.nome}">Up!</span>
        <span th:text="${evento.data}">20/20/2000</span>
        <span th:text="'(' + ${evento.prezzo} + ')'">Prezzo </span>
        <span th:text="${evento.tipologia}">Up!</span>
        <span th:text="${evento.descrizione}">Up!</span>
   <!-- lista recensioni, collaboratori e servizi-->
    </div>
    <div th:unless="${evento}">Non esiste</div>
  </body>
</html>
