<!DOCTYPE html>
<html>

<head>
	<title>
		eventi - Registrazione
	</title>
			<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header>
		<div th:if="${clienteDetails}">
			<span th:text="${clienteDetails.cognome}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${cliente}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div>
		<a href="/"><img src="/images/logo-siw.png" width="50%" /></a>
	</div>
	<h1>Registrazione nuovo utente</h1>
	<form th:action="@{/register}" method="POST">
		<div>
			<label>Nome</label>
			<span><input type="text" placeholder="nome" required th:field="${cliente.nome}" /></span>
			<span th:if="${#fields.hasErrors('cliente.nome')}" th:errors="${cliente.nome}" th:style="'color:red'">
			</span>
		</div>
		<div>
			<label>Cognome</label>
			<span><input type="text" placeholder="cognome" required th:field="${cliente.cognome}" /></span>
			<span th:if="${#fields.hasErrors('cliente.cognome')}" th:errors="${cliente.cognome}" th:style="'color:red'">
			</span>
		</div>
		<div>
			<label>Email</label>
			<span><input type="text" placeholder="email" required th:field="${cliente.email}" /></span>
			<span th:if="${#fields.hasErrors('cliente.email')}" th:errors="${cliente.email}" th:style="'color:red'">
			</span>
		</div>
		<div>
			<label>clientenome</label>
			<span>
				<input type="text" placeholder="clientenome" required th:field="${credentials.clientenome}" />
			</span>
			<span th:if="${#fields.hasErrors('credentials.clientenome')}" th:errors="${credentials.clientenome}"
				th:style="'color:red'">
			</span>
		</div>
		<div>
			<label>Password</label>
			<span><input type="password" placeholder="password" required th:field="${credentials.password}" />
			</span>
			<span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"
				th:style="'color:red'">
			</span>
		</div>
		<div>
			<button type="submit">Registra</button>
		</div>
	</form>
</body>

</html>