<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Agenzia Eventi - Evento trovato</title>
		
		<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		
		<!--comando per legare un foglio di stile esterno all'html-->
		<link rel="stylesheet" href="/css/foundEvento.css">
		
		<link rel="shortcut icon" href="/images/iconaM.png "type="image/x-icon">
	</head>
	<body>
		
		<header>
			
			<input type="checkbox" name="" id="toggler">
			<label for="toggler" class="fas fa-bars"></label>
			
			<a href="/" class="logo"> Marik'<span>Events</span></a>

			<nav class="navbar">
				<a href="/">Home</a>
				<a href="/evento">Eventi</a>
				<a href="/servizio">Servizi</a>
				<a href="/recensione">Community</a>
				<a href="/aboutUs">About us</a>
			</nav>
			
			<div class="icons">
				<a href="/formSearchEventi" class="fas fa-search"></a>
				<a href="/login" class="fas fa-user"></a>
			</div>			
			
			
		</header>
		
        <!-- header section ends -->
        
        <!-- found Evento section starts -->
        
        <div class="found_evento">
			<h1>Eventi <span> trovati</span></h1>
	        <div th:if="${eventi.isEmpty()}" class="no-eventi">Non ci sono eventi che soddisfano i requisiti</div> 
	        
	        <ul th:if="${!eventi.isEmpty()}">
				<li th:each="evento : ${eventi}">
					<a href="evento.html" th:href="@{'/evento' + '/' + ${evento.id}}"
				       th:text="${evento.nome} + ' (' + ${evento.data}+')'">Up! (20/03/2000)</a>
		        </li>
	        </ul>
	     
        </div>
	
	     <!-- Found Evento section ends -->
	
         <!-- footer section starts -->
         
         <section class="footer">
			 <div class="box-container">
				 <div class="box">
					 <h3>Quick Links</h3>
					 <a href="/">Home</a>
					 <a href="/aboutUs">About us</a>
					 <a href="/evento">Eventi</a>
					 <a href="/servizio">Servizi</a>
					 <a href="/recensione">Community</a>
					 <a href="#contact">Contact</a>
				 </div>
				 
				  <div class="box">
					 <h3>Extra Links</h3>
					 <a href="/login">My account</a>
					 <a href="#">My Event</a>
					 <a href="#">My favourite</a>
				 </div>
				 
				  <div class="box">
					 <h3>Contact Info</h3>
					 <a href="#">+39 3319879060</a>
					 <a href="#">marikamorelli@live.it</a>
					 <a href="https://www.google.com/search?q=Via+di+S.+Stefano%2C+20%2C+00061+Anguillara+Sabazia+RM&rlz=1C1GCEA_enIT827IT827&oq=Via+di+S.+Stefano%2C+20%2C+00061+Anguillara+Sabazia+RM&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIKCAEQABiABBiiBDIKCAIQABiABBiiBDIKCAMQABiABBiiBDIKCAQQABiABBiiBDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPNIBCDE2NjlqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8">Anguillara Sabazia</a>
					 <img src="images/..." alt="">
				 </div> 
				 
				 <div class="box2">
					 <h3>Follows</h3>
					 <a href="https://www.facebook.com/Marikevents/?locale=it_IT"><i class="fa-brands fa-facebook"></i></a>
					 <a href="https://www.instagram.com/marikevents/?locale=it"><i class="fa-brands fa-instagram"></i></a>
					 <a href="#"><i class="fa-brands fa-tiktok"></i></a>
				 </div>
			 </div>
			 
			 <div class="credit"> Created by <span>Baldini Sophie & Catalano Veronica </span></div>
		 </section>
         <!-- footer section ends -->

	</body>
	
</html>
