<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Agenzia Eventi</title>
		
		<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		
		<!--comando per legare un foglio di stile esterno all'html-->
		<link rel="stylesheet" href="/css/style.css">
		
		<linkrel="shortcut icon" href="/images/iconaM.png "type="image/x-icon">
	</head>
	<body>
		
		<header>
			
			<input type="checkbox" name="" id="toggler">
			<label for="toggler" class="fas fa-bars"></label>
			
			<a href="#" class="logo"> Marik'<span>Events</span></a>

			<nav class="navbar">
				<a href="#home">Home</a>
				<a href="#evento">Eventi</a>
				<a href="#Servizi">Servizi</a>
				<a href="#recensione">Community</a>
				<a href="#about">About us</a>
			</nav>
			
			<div class="icons">
				<a href="#" class="fas fa-heart"></a>
				<a href="#" class="fas fa-search"></a>
				<a href="#" class="fas fa-user"></a>
			</div>			
			
			
		</header>
        <!-- header section ends -->

        <!-- Home section -->

         <section class="home" id="home">
			 
			<div class="content">
			 <h3>Il tuo evento</h3>
			 <span>Creiamo emozioni indimenticabili </span>
			 <p>Trasforma il tuo evento in un'esperienza 
				 indimenticabile con la nostra agenzia: 
				 creatività, professionalità e passione al tuo servizio 
				 per rendere ogni momento unico e speciale!</p>
			 <a href="#" class="btn">Crea</a> 
			</div>
		 </section>
		 
         <!-- Home section ends -->
         
         <!-- About Us start -->
         
         <section class="about" id="about">
			 <h1 class="heading"><span>About</span> Us</h1>
			 
			 <div class="row">
				 
			 <div class="video-container">
				 <video src="/images/animatori.mp4" loop autoplay muted></video>
				 <h3> The best of us </h3>
			 </div>
			 
			 <div class="content">
				 <h3>Perchè scegliere noi ?</h3>
				 <p> Il nostro team unisce creatività, esperienza e dedizione per trasformare ogni evento in 
					 un'esperienza unica e indimenticabile, curata nei minimi dettagli.</p>
				 <a href="#" class="btn">Learn more</a>
			 </div>
			 </div>
		 </section>
         <!-- il mio evento ends -->
         
         <!-- Servizi section start -->
         <section class="servizi" id="servizi">
			 <h1 class="heading"> I nostri <span> servizi</span></h1>
			 
			 <div class="box">
				 <span class=""></span>
			 </div>
		 </section>
         <!-- fornitori section ends -->
         
         

	</body>
	
</html>
