<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Agenzia Eventi</title>
		
		<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		
		<!--comando per legare un foglio di stile esterno all'html-->
		<link rel="stylesheet" href="/css/style.css">
		
		<link rel="shortcut icon" href="/images/iconaM.png "type="image/x-icon">
	</head>
	<body>
		
		<header>
			
			<input type="checkbox" name="" id="toggler">
			<label for="toggler" class="fas fa-bars"></label>
			
			<a href="/" class="logo"> Marik'<span>Events</span></a>

			<nav class="navbar">
				<a href="/">Home</a>
				<a href="/evento">Eventi</a>
				<a href="/servizio">Servizi</a>
				<a href="/recensione">Community</a>
				<a href="/aboutUs">About us</a>
			</nav>
			
			<div class="icons">
				<a href="/formSearchEventi" class="fas fa-search"></a>
				<a href="/login" class="fas fa-user"></a>
			</div>			
			
			
		</header>
        <!-- header section ends -->

        <!-- Home section -->

         <section class="home" id="home">
			 
			<div class="content">
			 <h3>Il tuo evento</h3>
			 <span>Creiamo emozioni indimenticabili </span>
			 <p>Trasforma il tuo evento in un'esperienza 
				 indimenticabile con la nostra agenzia: 
				 creatività, professionalità e passione al tuo servizio 
				 per rendere ogni momento unico e speciale!</p>
			 
			</div>
		 </section>
		 
         <!-- Home section ends -->
         
         <!-- About Us start -->
         
         <section class="about" id="about">
			 <h1 class="heading"><span>About</span> Us</h1>
			 
			 <div class="row">
				 
			 <div class="video-container">
				 <video src="/images/animatori.mp4" loop autoplay muted></video>
				 <h3> The best of us </h3>
			 </div>
			 
			 <div class="content">
				 <h3>Perchè scegliere noi ?</h3>
				 <p> Il nostro team unisce creatività, esperienza e dedizione per trasformare ogni evento in 
					 un'esperienza unica e indimenticabile, curata nei minimi dettagli.</p>
				 <a href="/aboutUs" class="btn">Learn more</a>
			 </div>
			 </div>
		 </section>
         <!-- About us ends -->
         
         <!-- icons section start -->
         <section class="icons-container">
			<div class="icons">
				<img src="/images/" alt="">
				<div class="info">
					<h3>Le Nostre Location</h3>
					<span>Trova la location che fa per te  </span>
				</div>
			</div> 
			
			<div class="icons">
				<img src="/images/" alt="">
				<div class="info">
					<h3>Fornitori</h3>
					<span>Trova i professionisti che trasformeranno i tuoi sogni in realtà </span>
				</div>
			</div> 
			
			<div class="icons">
				<img src="/images/" alt="">
				<div class="info">
					<h3>Event Organizer</h3>
					<span>Tieni tutto sotto controllo per avere il tuo giorno perfetto</span>
				</div>
			</div> 
		 </section>
         <!-- icons sectiom ends -->   
         
         <!-- servizi section starts -->
         <section class="servizi" id="servizi">
			 
			 <h1 class="heading"> I nostri <span> servizi</span></h1>
			 
			 <div class="box-container">
				 
				 <div class="box">
					 <span class="discount">Servizi </span>
					 <div class="image">
						 <img src="images/servizi/audio.png" alt="">
						 <div class="icons">
							 <a href="#" class="fas fa-heart"></a>
							 <a href="servizio" class="cart-btn">add to event</a>
							 <a href="http://localhost:8080/servizio/1" class="fas fa-share"></a>
						 </div>	 
					 </div>
					 <div class="content">
						<h3>Audio & Video</h3> 
						<div class="price">Prezzo<span>400</span></div>
					 </div>
				 </div>
				 
				   <div class="box">
					 <span class="discount">Servizi </span>
					 <div class="image">
						 <img src="images/servizi/fotografo1.png" alt="">
						 <div class="icons">
							 <a href="#" class="fas fa-heart"></a>
							 <a href="#" class="cart-btn">add to event</a>
							 <a href="http://localhost:8080/servizio/51" class="fas fa-share"></a>
						 </div>	 
					 </div>
					 <div class="content">
						<h3>Servizio Fotografico</h3> 
						<div class="price">Prezzo<span>300</span></div>
					 </div>
				   </div>
				 
				 <div class="box">
					 <span class="discount">Servizi </span>
					 <div class="image">
						 <img src="images/servizi/intrattenimento.png" alt="">
						 <div class="icons">
							 <a href="#" class="fas fa-heart"></a>
							 <a href="#" class="cart-btn">add to event</a>
							 <a href="http://localhost:8080/servizio/101" class="fas fa-share"></a>
						 </div>	 
					 </div>
					 <div class="content">
						<h3>Intrattenimeto</h3> 
						<div class="price">Prezzo<span>2000</span></div>
					 </div>
				 </div>

			 </div>
			 
			 <div class="pulsante">
				 <a href="/servizio" class="btn"><i class="fa-solid fa-arrow-right"></i></a>
			 </div>
		 </section>
         <!-- fornitori section ends -->
         
         <!-- community section start -->
         
         <section class="recensione" id="recensione">
			 <h1 class="heading"> Community</h1>
			 <div class="box-container">
				<div class="box">
					<div class="starts">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<p>.....</p>
					<div class="user">
						<img src="images/..." alt="">
						<div class="user-info">
							<h3>Giovanni</h3>
							<span>Happy customer</span>
						</div>
					</div>
					<span class="fas fa-quote-right"></span>
				</div> 
				
				<div class="box">
					<div class="starts">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<p>.....</p>
					<div class="user">
						<img src="images/..." alt="">
						<div class="user-info">
							<h3>Franco</h3>
							<span>Happy customer</span>
						</div>
					</div>
					<span class="fas fa-quote-right"></span>
				</div> 
				
			 </div>
		 </section>
         
         <!-- community section ends -->
         
         <!-- contact section starts -->
         <section class="contact" id="contact">
			 <h1 class="heading"> <span> contact </span> us </h1>
             <div class="row">
             <form action="https://api.web3forms.com/submit" method="POST">
				 <input type="hidden" name="access_key" value="50f856cb-200b-4169-8dd3-8d1ff39e57e7">
				 <input type="text" placeholder="name" name="name" class="box" required>
                 <input type="email" placeholder="email" name="email" class="box" required>
                 <input type="number" placeholder="number" name="number" class="box" required>
                 <textarea name="message" class="box" placeholder="message"  id="" cols="30" rows="10" required></textarea>
                 <input type="submit" value="send message" class="btn">
             </form>

             <div class="image">
				 <img src="images/logoM.png" alt="">
             </div>
             </div>

         </section>
         <!-- contact section ends -->
         
         <!-- footer section starts -->
         <section class="footer">
			 <div class="box-container">
				 <div class="box">
					 <h3>Quick Links</h3>
					 <a href="/">Home</a>
					 <a href="/aboutUs">About us</a>
					 <a href="/evento">Eventi</a>
					 <a href="/servizio">Servizi</a>
					 <a href="/recensione">Community</a>
					 <a href="#contact">Contact</a>
				 </div>
				 
				  <div class="box">
					 <h3>Extra Links</h3>
					 <a href="/login">My account</a>
					 <a href="#">My Event</a>
					 <a href="#">My favourite</a>
				 </div>
				 
				  <div class="box">
					 <h3>Contact Info</h3>
					 <a href="#">+39 3319879060</a>
					 <a href="#">marikamorelli@live.it</a>
					 <a href="https://www.google.com/search?q=Via+di+S.+Stefano%2C+20%2C+00061+Anguillara+Sabazia+RM&rlz=1C1GCEA_enIT827IT827&oq=Via+di+S.+Stefano%2C+20%2C+00061+Anguillara+Sabazia+RM&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIKCAEQABiABBiiBDIKCAIQABiABBiiBDIKCAMQABiABBiiBDIKCAQQABiABBiiBDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPNIBCDE2NjlqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8">Anguillara Sabazia</a>
					 <img src="images/..." alt="">
				 </div> 
				 
				 <div class="box2">
					 <h3>Follows</h3>
					 <a href="https://www.facebook.com/Marikevents/?locale=it_IT"><i class="fa-brands fa-facebook"></i></a>
					 <a href="https://www.instagram.com/marikevents/?locale=it"><i class="fa-brands fa-instagram"></i></a>
					 <a href="#"><i class="fa-brands fa-tiktok"></i></a>
				 </div>
			 </div>
			 
			 <div class="credit"> Created by <span>Baldini Sophie & Catalano Veronica </span></div>
		 </section>
         <!-- footer section ends -->

	</body>
	
</html>
