<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Agenzia Eventi</title>
		
		<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		
		<!--comando per legare un foglio di stile esterno all'html-->
		<link rel="stylesheet" href="/css/style.css">
		
		<linkrel="shortcut icon" href="/image/ "type="image/x-icon">
	</head>
	<body>
		
		<header>
			
			<input type="checkbox" name="" id="toggler">
			<label for="toggler" class="fas fa-bars"></label>
			
			<a href="#" class="logo"> Eventi<span>.</span></a>
			
			<nav class="navbar">
				<a href="#evento">Il mio evento</a>
				<a href="#location">Location</a>
				<a href="#fornitore">Fornitori</a>
				<a href="#idee">Idee eventi</a>
				<a href="#recensione">Community</a>
				<a href="#accedi">Accedi</a>
				<a href="#registrati">Registrati</a>
			</nav>
			
			
			
		</header>
	</body>
	
</html>
