<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Recensione</title>
		
		<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		
		<!--comando per legare un foglio di stile esterno all'html-->
		<link rel="stylesheet" href="/css/recensione.css">
		
		<link rel="shortcut icon" href="/images/iconaM.png "type="image/x-icon">
	</head>
	<body>
		
		<header>
			
			<input type="checkbox" name="" id="toggler">
			<label for="toggler" class="fas fa-bars"></label>
			
			<a href="/" class="logo"> Marik'<span>Events</span></a>

			<nav class="navbar">
				<a href="/">Home</a>
				<a href="/evento">Eventi</a>
				<a href="#servizi">Servizi</a>
				<a href="/recensione">Community</a>
				<a href="/dipendente">About us</a>
			</nav>
			
			<div class="icons">
				<a href="/formSearchEventi" class="fas fa-search"></a>
				<a href="/login" class="fas fa-user"></a>
			</div>			
			
			
		</header>
		
        <!-- header section ends -->

        <!-- Dettagli Recensione section starts -->
        
        <div class="recensione">
        <h1>Dettagli Recensione</h1>
        <div th:if="${recensione}">
            <!-- Visualizza il nome del cliente e il voto -->
            <span th:text="${recensione.cliente} + ' ' + ${recensione.voto}">Dino 10</span>
            <!-- Visualizza il commento -->
            <span th:text="'(' + ${recensione.commento} + ')'">commento</span>
            <!--<span><img width="5%" th:src="${recensione.image}" /></span> -->
        </div>
        <!-- Se non c'è nessuna recensione, mostra un messaggio -->
        <div th:unless="${recensione}">Non esiste</div>
    </div>
       <!-- Dettagli Recensione section ends -->

        <!-- footer section starts -->
         <section class="footer">
			 <div class="box-container">
				 <div class="box">
					 <h3>Quick Links</h3>
					 <a href="/">Home</a>
					 <a href="#">About us</a>
					 <a href="#">Eventi</a>
					 <a href="#">Servizi</a>
					 <a href="#">Community</a>
					 <a href="#contact">Contact</a>
				 </div>
				 
				  <div class="box">
					 <h3>Extra Links</h3>
					 <a href="/login">My account</a>
					 <a href="#">My Event</a>
					 <a href="#">My favourite</a>
				 </div>
				 
				  <div class="box">
					 <h3>Contact Info</h3>
					 <a href="#">+39 3375 46587</a>
					 <a href="#">Example@gmail.com</a>
					 <a href="#">Mumbai</a>
					 <img src="images/..." alt="">
				 </div> 
			 </div>
			 
			 <div class="credit"> Created by <span>Baldini Sophie & Catalano Veronica </span></div>
		 </section>
         <!-- footer section ends -->

	</body>
	
</html>