<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sevizio</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body> <!--verofoca se serva -->
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

<body>
  <body>
    <div class="container">
        <h2>Dettagli Servizio</h2>
        <img th:src="@{'/images/servizi/' + ${servizio.image}}" alt="Immagine del servizio">
          <!-- Video -->
        <video width="320" height="240" controls>
            <source src="percorso_del_video.mp4" type="video/mp4">
            Il tuo browser non supporta il tag video.
        </video>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" value="Nome del Servizio" readonly>
        </div>
        <div class="form-group">
            <label for="descrizione">Descrizione</label>
            <textarea id="descrizione" name="descrizione" rows="4" readonly>Descrizione del servizio...</textarea>
        </div>
        <div class="form-group">
            <label for="prezzo">Prezzo (€)</label>
            <input type="number" id="prezzo" name="prezzo" value="100.00" readonly>
        </div>
    </div>
    <div th:unless="${servizio}">Non esiste</div>
</body>
</html>